<div class="page">
  <h1>Adicionar aluno à turma</h1>

  <div class="card">
    <%= form_with model: [@turma, @turma_aluno] do |form| %>

      <div class="section">
        <%= form.label :aluno_id, "Aluno" %><br>

        <%= form.collection_select :aluno_id,
          @alunos_disponiveis,
          :id,
          :nome,
          prompt: "Selecione um aluno"
        %>
      </div>

      <div class="turma-actions">
        <%= form.submit "Adicionar", class: "btn btn-primary" %>
        <%= link_to "Cancelar", @turma, class: "btn btn-outline" %>
      </div>

    <% end %>
  </div>
</div>
